<% title "Renvoyer les instructions de confirmation" -%>

<h2>Renvoyer les instructions de confirmation</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.email_field :email, placeholder: "Email", autofocus: true %></p>

  <p><%= f.submit "Valider" %></p>
<% end %>

<%= link_to "J'ai perdu mon mot de passe !", new_password_path(resource_name) %><br />
Pour toutes questions n'hésitez pas à consulter l'<a href="mailto:support@whbab.com">aide en ligne</a>
