<%= form_for @army_list do |f| %>
  <%= render "shared/form_errors", :object => @army_list %>

  <p><%= f.collection_select :army_id, Army.all, :id, :name %></p>
  <p class="field"><%= f.text_field :name, :placeholder => "Nom" %></p>
  <p class="actions"><%= f.submit "Valider" %></p>
<% end %>
