<%= form_for @army_list, :validate => @army_list.persisted? do |f| %>
  <%= render "shared/form_errors", :object => @army_list %>

  <% unless @army_list.persisted? %>
  <p><%= f.collection_select :army_id, Army.all, :id, :name %></p>
  <% end %>

  <p><%= f.text_field :name, :placeholder => "Nom" %></p>
  <p><%= f.submit "Valider" %></p>
<% end %>
