<%= form_for @army_list, :validate => @army_list.persisted? do |f| %>
  <%= render "shared/form_errors", :object => @army_list %>

  <% unless @army_list.persisted? %>
  <p><%= f.collection_select :army_id, Army.order(:name), :id, :name, :disabled => Army.disabled_or_obsolete.pluck(:id) %></p>
  <% end %>

  <p><%= f.text_field :name, :placeholder => "Nom", :class => "input_xxlarge" %></p>
  <p><%= f.text_area :notes, :placeholder => "Remarques", :size => "" %></p>
  <p><%= f.submit "Valider" %></p>
<% end %>
