<% title "Liste d'armée • #{@army_list.name}" %>

<% if @army_list.notes? %>
  <div class="army_list_value_notes"><%= @army_list.notes %></div>
<% end %>

<div class="army_list_value_points">
  <ul>
    <% @army_list.value_points_details.each do |row| %>
      <li class="<%= row['valid'] ? '' : 'red' %>"><strong><%= row["name"].split.last.titleize %></strong> <%= value_points row["value_points"].to_f %> pts
      <small>(<%= number_to_percentage(row["value_points"].to_f / @army_list.value_points * 100, :precision => 0) %>)</small></li>
    <% end %>
  </ul>
</div>

<%= render :partial => "army_list_units/export_full", :collection => @army_list.army_list_units, :as => :army_list_unit %>
