<% title "Mes listes d'armée" %>

<div id="subheader" class="grid_14">
  <%# form_tag army_lists_path, :method => "get" do -%>
  <%= form_for @search, :url => army_lists_path, :html => {:method => :get} do |f| %>
    <p>
      <%= f.label :army_id_eq, "Filtrer par" %> <%= f.collection_select :army_id_eq, Army.all, :id, :name, :include_blank => true %>
      <%= f.label :value_points_gte, "de" %> <%= f.text_field :value_points_gte %>
      <%= f.label :value_points_lte, "a" %> <%= f.text_field :value_points_lte %> <%= f.label :value_points_lte, "points" %>
      <%= f.submit "Valider" %>
    </p>
  <% end %>
</div>

<% @army_lists.each_with_index do |army_list, i| %>

<div class="grid_4 <%= alternate_cell_class(i) %>">
  <div class="army_list_row">
    <p><%= image_tag "thumb_army.png", :size => "220x132" %></p>
    <p><%= army_list.name %></p>
    <p class="actions"><button>Editer</button></p>
  </div>
</div>

<% end %>

<div class="grid_4 <%= @army_lists.any? ? alternate_cell_class(@army_lists.length) : "suffix_6 prefix_6" %>">
  <div class="army_list_row">
    <p><a href="<%= new_army_list_path %>" class="popin"><%= image_tag "bt_new_army_list.png", :size => "220x132" %></a></p>
    <p>Créer une nouvelle liste d'armée</p>
  </div>
</div>

<!-- <div class="grid_14 prefix_1 suffix_1">
  <h1>Listing army_lists</h1>

  <table>
    <tr>
      <th>Army</th>
      <th>Name</th>
      <th>Value points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @army_lists.each do |army_list| %>
    <tr>
      <td><%= army_list.army.name %></td>
      <td><%= army_list.name %></td>
      <td><%= army_list.value_points %></td>
      <td><%= link_to 'Show', army_list %></td>
      <td><%= link_to 'Edit', edit_army_list_path(army_list) %></td>
      <td><%= link_to 'Destroy', army_list, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Army list', new_army_list_path %>
</div> -->
