<% title "Mes listes d'armée" %>

<div id="subheader" class="grid_14">
  <%= form_for @search, :url => army_lists_path, :html => {:method => :get} do |f| %>
    <p>
      <%= f.label :army_id_eq, "Filtrer par" %> <%= f.collection_select :army_id_eq, Army.order(:name), :id, :name, :disabled => Army.disabled.pluck(:id), :include_blank => true %>
      <%= f.label :value_points_gte, "de" %> <%= f.text_field :value_points_gte %>
      <%= f.label :value_points_lte, "a" %> <%= f.text_field :value_points_lte %> <%= f.label :value_points_lte, "points" %>
      <%= f.submit "Valider" %>
    </p>
  <% end %>
</div>

<% @army_lists.each_with_index do |army_list, i| %>

<div class="grid_4 <%= alternate_cell_class(i) %>">
  <div class="army_list_row">
    <p class="thumb"><a href="<%= army_list_path(army_list) %>"><%= image_tag "/system/armies/#{army_list.army.id}/thumb.png", :size => "220x132" %></a></p>
    <p class="value_points"><%= value_points army_list.value_points %><br /><small style="font-size:20px">points</small></p>
    <p><%= army_list.name.truncate(60) %></p>
  </div>
</div>

<% end %>

<div class="grid_4 <%= @army_lists.any? ? alternate_cell_class(@army_lists.length) : "suffix_6 prefix_6" %>">
  <div class="army_list_row">
    <p><a href="<%= new_army_list_path(:army_id => @search.army_id_eq) %>" data-popin="true"><%= image_tag "bt_new_army_list.png", :size => "220x132" %></a></p>
    <p>Créer une nouvelle liste d'armée</p>
  </div>
</div>
