<% title "Liste d'armée • #{@army_list.name}" %>

<div class="army_list_portrait">
  <%= image_tag "/system/armies/#{@army_list.army.id}/portrait.png", :size => "65x64" %>
  <h2><%= link_to transliterate(@army_list.army.name), army_lists_path({'search[army_id_eq]' => @army_list.army}) %></h2>
  <h1 title="<%= @army_list.name %>"><%=transliterate @army_list.name.truncate(35) %></h1>
</div>

<div id="subheader" class="grid_14 army_list">
  <%= form_tag edit_army_list_path(@army_list), :method => 'get', 'data-popin' => true, 'class' => 'actions' do %>
    <%= submit_tag '&rarr;'.html_safe %>
    <%= select_tag 'action', options_for_select([
      ['Editer', edit_army_list_path(@army_list)],
      ['Exporter', export_army_list_path(@army_list)],
      ['Dupliquer', new_from_army_list_path(@army_list)],
      ['Supprimer', delete_army_list_path(@army_list)]
    ]), :id => nil %>
  <% end %>
  <button data-url="<%= export_army_list_path @army_list, :verbosity => 'full', :format => 'pdf', :include_magics => 1 %>" data-target="_blank" class="left">Imprimer</button>
</div>

<ol class="army_list_units_overview" data-url="<%= sort_army_list_army_list_units_path @army_list %>">
  <%= render :partial => "army_list_units/show", :collection => @army_list.army_list_units, :as => :army_list_unit %>
</ol>

<div class="army_list_value_points">
  <%= render "value_points" %>
</div>

<% if @army_list.notes? %>
  <div class="army_list_notes">
    <h3>Remarques</h3>
    <ul><li>
    <%= @army_list.notes %>
    </li></ul>
  </div>
<% end %>

<a href="<%= new_army_list_army_list_unit_path @army_list %>" class="army_list_unit_new" data-popin="true">Ajouter une unité</a>
