<h1 class="grid_4 suffix_6">
  Warhammer Battle<br />
  <em>Army Builder</em>
</h1>
<div class="grid_6 signin">
  <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
    <p><%= f.email_field :email, :placeholder => "Email" %>
    <%= f.password_field :password, :placeholder => "Mot de passe" %>
    <%= f.submit "se connecter" %></p>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Se souvenir de moi" %> <%= link_to "Oublié ?", new_password_path(resource_name) %></p>
  <% end %>
</div>

<h2 class="grid_10 catcher">
  Composez<span> et </span>archivez<br />
  <em>vos armees favorites !</em>
</h2>
<div class="grid_6 signup">
  <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
    <strong>Rejoignez-nous</strong>
    <p><%= f.text_field :name, :placeholder => "Nom" %></p>
    <p><%= f.email_field :email, :placeholder => "Email" %></p>
    <p><%= f.submit "suivant" %></p>
  <% end %>
</div>

<div class="grid_16 disclaimer">
  <a class="twitter-timeline" href="https://twitter.com/whbab" data-widget-id="260844930493186048" width="300" height="300" lang="fr">Tweets de @whbab</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <p><strong>Qui sommes-nous ?</strong> Inspiré d'autres sites similaires, Army Builder est né de l'initiative d'un mordu de Warhammer et du monde Games Workshop.
  Regroupant une équipe de passionnés jouant depuis plus de 15 ans à Battle, Army Builder se veut un outil efficace et convivial pour composer vos listes armées.
  Supporté par de généreux mécènes, Army Builder ne génère aucun revenu et ne vous demandera jamais d'argent ! De plus, Army Builder est un projet open source.</p>

  <p><strong>Attention !</strong> Ce site n'est pas officiel ni en aucun cas autorisé ou approuvé par Games Workshop.<br />
  Les symboles du Chaos, le logo du Chaos, Citadel, le logo Citadel, le symbole Aigle impérial à deux têtes, 'Eavy Metal, Forge World, Games Workshop, le logo Games Workshop, Golden Demon, Grand Immonde, le logo marteau de Sigmar, le logo du Rat Cornu, Gardien des Secrets, Khemri, Khorne, Duc du Changement, Nurgle, Skaven, les symboles Skaven, Slaanesh, Rois des Tombes, Trio de Guerriers, le symbole de Comète à deux queues, Tzeentch, Warhammer, Warhammer Online, le logo Warhammer World, White Dwarf, le logo White Dwarf, ainsi que toutes les marques, noms, lieux, personnages, races, illustrations et images associés aux univers de Warhammer, Talisman et de Warhammer 40,000 et au jeu Blood Bowl sont soit ®, TM et/ou © Copyright Games Workshop Ltd 2000-2011, enregistrés au Royaume-Uni et autres pays du monde. Tous droits réservés.<br />
  Utilisés sans autorisation et sans volonté de préjudice ou comme opposition à leur copyright.</p>
</div>
