<li id="army_list_units_<%= army_list_unit.id %>">
  <div class="army_list_unit_overview">
    <div class="position">
      <%= "%02d" % army_list_unit.position %>
    </div>
    <div class="name">
      <strong><%= army_list_unit.name.truncate(32) %></strong>
        <% if army_list_unit.unit.is_unique %>
        <%= "#{army_list_unit.unit.name} <em>x#{army_list_unit.size}</em>".html_safe if army_list_unit.size > 1 %>
        <i>Unique</i>
      <% else %>
        <%= army_list_unit.unit.name %>
        <%= "<em>x#{army_list_unit.size}</em>".html_safe if army_list_unit.size > 1 %>
      <% end %>
    </div>
    <div class="value_points">
      <strong><%= value_points army_list_unit.value_points %></strong> points
    </div>
    <div class="actions" style="background: url(<%= image_path "/system/unit_categories/#{army_list_unit.unit_category.id}/ribbon.png" %>) 100% 100% no-repeat">
      <%= form_tag edit_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit), :method => "get", "data-popin" => true do %>
        <%= select_tag 'action', options_for_select([
          ['Editer', edit_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit)],
          ['Dupliquer', new_from_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit)],
          ['Supprimer', delete_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit)]
        ]), :id => nil %>
        <%= submit_tag '&rarr;'.html_safe %>
      <% end %>
    </div>
  </div>

  <div class="army_list_unit_details" style="display:none">

    <table>
      <thead>
        <tr>
          <th>Profil</th>
          <th>M</th>
          <th>CC</th>
          <th>CT</th>
          <th>F</th>
          <th>E</th>
          <th>PV</th>
          <th>I</th>
          <th>A</th>
          <th>Cd</th>
          <th>Type de troupe</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% army_list_unit.unit.troops.each do |troop| %>
        <tr>
          <td><%= troop.name %></td>
          <td><%= troop.M %></td>
          <td><%= troop.WS %></td>
          <td><%= troop.BS %></td>
          <td><%= troop.S %></td>
          <td><%= troop.T %></td>
          <td><%= troop.W %></td>
          <td><%= troop.I %></td>
          <td><%= troop.A %></td>
          <td><%= troop.LD %></td>
          <td><%= troop.troop_type.try(:name) %></td>
          <td style="text-align:right"><em>
            <% if troop.value_points %>
              <%= value_points(troop.value_points) %> pts<%= '/fig.' if army_list_unit.size > 1 %>
            <% elsif troop.position == 1 %>
              <%= value_points(troop.unit.value_points) %> pts<%= '/fig.' if army_list_unit.size > 1 %>
            <% end %>
          </em></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% if army_list_unit.unit_options.any? or army_list_unit.magic_items.any? %>
      <div class="options">
        <% if army_list_unit.unit_options.any? %>
          <h4>Options</h4>
          <% army_list_unit.unit_options.each do |option| %>
            <em><%= value_points(option.value_points) %> pts<%= '/fig.' if option.is_per_model %></em>
            • <%= option.name %><br />
          <% end %>
        <% end %>

        <% if army_list_unit.magic_items.any? %>
          <h4>Objets magiques</h4>
          <% army_list_unit.magic_items.each do |magic_item| %>
            <em><%= value_points(magic_item.value_points) %> pts</em>
            • <%= magic_item.name %><br />
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if army_list_unit.unit.equipments.any? %>
      <h4>Equipement</h4>
      <% army_list_unit.unit.equipments.each do |equipment| %>
        • <%= equipment.name %><br />
      <% end %>
    <% end %>

    <% if army_list_unit.unit.special_rules.any? %>
      <h4>Règles Spéciales</h4>
      <% army_list_unit.unit.special_rules.each do |special_rule| %>
        • <%= special_rule.name %><br />
      <% end %>
    <% end %>

    <% if army_list_unit.unit.magic? %>
      <h4>Magie</h4>
      <%= army_list_unit.unit.magic %><br />
    <% end %>

    <% if army_list_unit.notes? %>
      <h4>Remarques</h4>
      <%= simple_format army_list_unit.notes %>
    <% end %>

    <div class="clear"></div>
  </div>
</li>
