<% mounts_option = army_list_unit.unit_options.only_mounts.first %>
<li id="army_list_units_<%= army_list_unit.id %>">
  <div class="army_list_unit_overview">
    <div class="position">
      <%= "%02d" % army_list_unit.position %>
    </div>
    <div class="name">
      <strong><%=transliterate army_list_unit.name.truncate(32) %></strong>
        <% if army_list_unit.unit.is_unique? %>
        <i><%= army_list_unit.unit.unit_category.name %> Unique</i>
        <% else %>
        <%= army_list_unit.unit.name %>
        <% end %>
        <%= "<em>x#{army_list_unit.size}</em>".html_safe if army_list_unit.size > 1 %>
    </div>
    <div class="value_points">
      <strong><%= value_points army_list_unit.value_points %></strong> points
    </div>
    <div class="actions" style="background: url(<%= image_path "/system/unit_categories/#{army_list_unit.unit_category.id}/ribbon.png" %>) 100% 100% no-repeat">
      <%= form_tag edit_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit), :method => "get", "data-popin" => true do %>
        <%= select_tag 'action', options_for_select([
          ['Editer', edit_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit)],
          ['Dupliquer', new_from_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit)],
          ['Supprimer', delete_army_list_army_list_unit_path(army_list_unit.army_list, army_list_unit)]
        ]), :id => nil %>
        <%= submit_tag '&rarr;'.html_safe %>
      <% end %>
    </div>
  </div>

  <div class="army_list_unit_details" style="display:none">

    <!-- TROOPS -->
    <table>
      <thead>
        <tr>
          <th>Profil</th>
          <th>M</th>
          <th>CC</th>
          <th>CT</th>
          <th>F</th>
          <th>E</th>
          <th>PV</th>
          <th>I</th>
          <th>A</th>
          <th>Cd</th>
          <th>Type de troupe</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "troops/show", :collection => army_list_unit.unit.troops.select{ |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }, :as => :troop, :locals => { :army_list_unit => army_list_unit } %>
        <% if army_list_unit.unit_options.include?(mounts_option) %>
          <%= render :partial => "troops/show", :collection => mounts_option.mount.troops.all, :as => :troop, :locals => { :army_list_unit => army_list_unit } %>
        <% end %>
      </tbody>
    </table>

    <!-- OPTIONS, MAGIC ITEMS, MAGIC STANDARDS, EXTRA ITEMS -->
    <% if army_list_unit.unit_options.any? or army_list_unit.magic_items.any? or army_list_unit.extra_items.any? or army_list_unit.magic_standards.any? %>
      <div class="options">
        <% if army_list_unit.unit_options.any? %>
          <h4>Options</h4>
          <% army_list_unit.unit_options.each do |option| %>
            <em><%= value_points(option.value_points) %> pts<%= '/fig.' if option.is_per_model %></em>
            • <%= option.name %><br />
          <% end %>
        <% end %>

        <% if army_list_unit.magic_items.any? %>
          <h4>Objets magiques</h4>
          <% army_list_unit.magic_items.each do |magic_item| %>
            <em><%= value_points(magic_item.value_points) %> pts</em>
            • <%= magic_item.name %><%= magic_item.quantity > 1 ? " (x#{magic_item.quantity})" : '' %><br />
          <% end %>
        <% end %>

        <% if army_list_unit.extra_items.any? %>
          <h4><%= @army_list.army.extra_item_categories.first.name %></h4>
          <% army_list_unit.extra_items.each do |extra_item| %>
            <em><%= value_points(extra_item.value_points) %> pts</em>
            • <%= extra_item.name %><br />
          <% end %>
        <% end %>

        <% if army_list_unit.magic_standards.any? %>
          <h4>Bannière magique</h4>
          <% army_list_unit.magic_standards.each do |magic_standard| %>
            <em><%= value_points(magic_standard.value_points) %> pts</em>
            • <%= magic_standard.name %><br />
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- EQUIPMENTS -->
    <%= render :partial => "equipments/show", :locals => { :equipments => army_list_unit.unit.equipments.where(:troop_id => nil), :troop => nil } %>

    <% army_list_unit.unit.troops.select{ |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }.each do |troop| %>
      <%= render :partial => "equipments/show", :locals => { :equipments => troop.equipments, :troop => troop } %>
    <% end %>

    <% if army_list_unit.unit_options.include?(mounts_option) %>
      <%= render :partial => "equipments/show", :locals => { :equipments => mounts_option.mount.equipments, :troop => mounts_option.mount.troops.first } %>
    <% end %>

    <!-- SPECIAL RULES -->
    <%= render :partial => "special_rules/show", :locals => { :special_rules => army_list_unit.unit.special_rules.where(:troop_id => nil), :troop => nil } %>

    <% army_list_unit.unit.troops.select{ |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }.each do |troop| %>
      <%= render :partial => "special_rules/show", :locals => { :special_rules => troop.special_rules, :troop => troop } %>
    <% end %>

    <% if army_list_unit.unit_options.include?(mounts_option) %>
      <%= render :partial => "special_rules/show", :locals => { :special_rules => mounts_option.mount.special_rules, :troop => mounts_option.mount.troops.first } %>
    <% end %>

    <!-- MAGIC -->
    <% if army_list_unit.magic? %>
      <h4>Magie</h4>
      <%= army_list_unit.magic %><br />
    <% end %>

    <!-- NOTES -->
    <% if army_list_unit.notes? %>
      <h4>Remarques</h4>
      <%= simple_format army_list_unit.notes %>
    <% end %>

    <div class="clear"></div>
  </div>
</li>
