<div class="popin">

  <h1>Editer<br /><%= @army_list_unit.unit.name %></h1>

  <%= form_for [@army_list, @army_list_unit] do |f| %>
    <%= render "shared/form_errors", :object => @army_list_unit %>

    <p>
      <%= f.text_field :name, :placeholder => "Nom" unless @army_list_unit.unit.is_unique  %>
      <%= f.collection_select :unit_category_id, UnitCategory.all, :id, :name %><br />
    </p>

    <% if @army_list_unit.unit.min_size != @army_list_unit.unit.max_size %>
      <p>
        <% @army_list_unit.army_list_unit_troops.reject{ |alut| @army_list_unit.unit.value_points && alut.position > 1 }.each do |army_list_unit_troop| %>
        <%= f.fields_for :army_list_unit_troops, army_list_unit_troop do |troop_fields| %>
          <%= troop_fields.label :size, army_list_unit_troop.troop.name %>
          x<%= troop_fields.text_field :size, :placeholder => "Taille", :class => "army_list_unit_troop_size" %><br />
        <% end %>
        <% end %>
      </p>
    <% end %>

    <% if @magic_items_option %>
      <div id="army_list_unit_magic_items" data-value-points-limit="<%= value_points(@magic_items_option.value_points) %>">
        <h3>Objets magiques<br /><span><%= value_points(@army_list_unit.magic_items.sum('value_points')) %></span>/<%= value_points(@magic_items_option.value_points) %> pts</h3>
        <ul>
          <% MagicItemCategory.all.each do |magic_item_category| %>
          <li>
            <strong><%= magic_item_category.name %></strong>
            <ul style="display:none">
              <% magic_item_category.magic_items.available_for(@army_list.army).each do |magic_item| %>
              <li>
                <em><span><%= value_points(magic_item.value_points) %></span> pts</em>
                <label><%= check_box_tag "army_list_unit[magic_item_ids][]", magic_item.id, @army_list_unit.magic_items.member?(magic_item), :id => "army_list_unit_magic_item_ids_#{magic_item.id}", "data-radio" => magic_item.is_magic_standard? ? true : nil %> <%= magic_item.name %></label>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    <% elsif @magic_standards_option %>
      <div id="army_list_unit_magic_items" data-value-points-limit="<%= value_points(@magic_standards_option.value_points) %>">
        <h3>Banniere magique<br /><span><%= value_points(@army_list_unit.magic_items.magic_standards.sum('value_points')) %></span>/<%= value_points(@magic_standards_option.value_points) %> pts</h3>
        <ul <%= @magic_standards_option.depend ? "data-depend=\"#{@magic_standards_option.depend.id}\"".html_safe : "" %>>
          <% MagicItem.magic_standards.available_for(@army_list.army).each do |magic_item| %>
          <li>
            <em><span><%= value_points(magic_item.value_points) %></span> pts</em>
            <label><%= check_box_tag "army_list_unit[magic_item_ids][]", magic_item.id, @army_list_unit.magic_items.member?(magic_item), :id => "army_list_unit_magic_item_ids_#{magic_item.id}", "data-radio" => true %> <%= magic_item.name %></label>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @available_unit_options.any? %>
      <div id="army_list_unit_unit_options">
        <h3>Options<br /><span><%= value_points(@army_list_unit.unit_options.sum('value_points')) %></span> pts</h3>
        <ul>
          <!-- IGNORE MAGIC ITEMS/STANTARDS -->
          <% @available_unit_options.each do |option| %>
          <li>
          <% if option.children.any? %>
            <strong><%= option.name %></strong>
            <ul>
              <% option.children.each do |child| %>
              <li>
                 <em><span><%= value_points(child.is_per_model ? child.value_points * @army_list_unit.size : child.value_points) %></span> pts</em>
                 <label><%= check_box_tag "army_list_unit[unit_option_ids][]", child.id, @army_list_unit.unit_options.member?(child), "data-radio" => true, "data-depend" => child.depend.try(:id), "data-per-model" => child.is_per_model ? true : nil, "data-value-points" => child.value_points, :id => "army_list_unit_unit_option_ids_#{child.id}" %> <%= child.name %></label></li>
              <% end %>
            </ul>
          <% else %>
            <em><span><%= value_points(option.is_per_model ? option.value_points * @army_list_unit.size : option.value_points) %></span> pts</em>
            <label><%= check_box_tag "army_list_unit[unit_option_ids][]", option.id, @army_list_unit.unit_options.member?(option), "data-depend" => option.depend.try(:id), "data-per-model" => option.is_per_model ? true : nil, "data-value-points" => option.value_points, :id => "army_list_unit_unit_option_ids_#{option.id}" %> <%= option.name %></label>
          <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="clear"></div>

    <p><%= f.submit "Valider" %></p>
  <% end %>

</div>
