<div class="popin">

  <h1 data-value-points="<%= @army_list_unit.unit.value_points %>">Editer<br /><%=transliterate @army_list_unit.unit.name %>
  <div style="float:right"><span style="font-size:34px;line-height:17px"><%= value_points(@army_list_unit.value_points) %></span> pts</div></h1>

  <%= form_for [@army_list, @army_list_unit] do |f| %>
    <%= render "shared/form_errors", :object => @army_list_unit %>

    <p>
      <%= f.text_field :name, :placeholder => "Nom" %>
      <%= f.collection_select :unit_category_id, UnitCategory.all, :id, :name %><br />
    </p>

    <% if @army_list_unit.unit.min_size != @army_list_unit.unit.max_size %>
      <table id="army_list_unit_troops">
        <% @army_list_unit.army_list_unit_troops.reject{ |alut| @army_list_unit.unit.value_points and alut.position > 1 or @army_list_unit.unit.value_points.nil? and alut.troop.value_points.nil? }.each do |army_list_unit_troop| %>
        <tr data-value-points="<%= army_list_unit_troop.troop.value_points || @army_list_unit.unit.value_points %>">
          <%= f.fields_for :army_list_unit_troops, army_list_unit_troop do |troop_fields| %>
          <td><%= troop_fields.label :size, army_list_unit_troop.troop.name + " x" %></td>
          <td><%= troop_fields.text_field :size, :placeholder => "Taille", :class => "army_list_unit_troop_size" %></td>
          <td><%= value_points(army_list_unit_troop.troop.value_points || @army_list_unit.unit.value_points) %> pts/fig.</td>
          <% end %>
        </tr>
        <% end %>
      </table>
    <% end %>

    <table id="army_list_unit_all_options"><tr>

    <% if @available_unit_options.any? %>
      <td><div id="army_list_unit_unit_options">
        <h3>Options<br /><span><%= value_points(@army_list_unit.unit_options_value_points) %></span> pts</h3>
        <ul>
          <!-- IGNORE MAGIC ITEMS/STANTARDS -->
          <%= render :partial => "army_list_units_unit_options/edit", :collection => @available_unit_options.all, :as => :option, :locals => { :army_list_unit => @army_list_unit } %>
        </ul>
      </div></td>
    <% end %>

    <% if @magic_items_option %>
      <td><div id="army_list_unit_magic_items" data-value-points-limit="<%= @magic_items_option.value_points %>">
        <h3>Objets magiques<br /><span><%= value_points(@army_list_unit.magic_items_value_points + (@magic_items_option.is_extra_items? ? @army_list_unit.extra_items_value_points : 0)) %></span>/<%= value_points(@magic_items_option.value_points) %> pts</h3>
        <ul>
          <% MagicItemCategory.all.each_with_index do |magic_item_category, index| %>
          <%- magic_items = magic_item_category.magic_items.available_for(@army_list.army, @magic_items_option.value_points).all %>
          <%- next if magic_items.empty? %>
          <li>
            <strong><%= magic_item_category.name %></strong>
            <ul style="<%= 'display:none' if index > 0 %>">
              <%= render :partial => "army_list_units_magic_items/edit", :collection => magic_items, :as => :magic_item, :locals => { :army_list_unit => @army_list_unit, :unit_option => @magic_items_option } %>
            </ul>
          </li>
          <% end %>
          <% if @magic_items_option.is_extra_items? %>
          <% @army_list.army.extra_item_categories.each do |extra_item_category| %>
          <li>
            <strong><%= extra_item_category.name %></strong>
            <ul style="display:none">
              <%= render :partial => "army_list_units_extra_items/edit", :collection => ExtraItem.available_for(extra_item_category, @magic_items_option.value_points).all, :as => :extra_item, :locals => { :army_list_unit => @army_list_unit, :unit_option => @magic_items_option } %>
            </ul>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div></td>
    <% end %>

    <% if @extra_items_option %>
      <td><div id="army_list_unit_extra_items" data-value-points-limit="<%= @extra_items_option.value_points %>">
        <% if @army_list.army.extra_item_categories.length > 1 %>
        <h3>Speciale<br /><span><%= value_points(@army_list_unit.extra_items_value_points) %></span><% unless @extra_items_option.value_points.nil? %>/<%= value_points(@extra_items_option.value_points) %><% end %> pts</h3>
        <ul>
          <% @army_list.army.extra_item_categories.each_with_index do |extra_item_category, index| %>
          <li>
            <strong><%= extra_item_category.name %></strong>
            <ul style="<%= 'display:none' if index > 0 %>">
              <%= render :partial => "army_list_units_extra_items/edit", :collection => ExtraItem.available_for(extra_item_category, @extra_items_option.value_points).all, :as => :extra_item, :locals => { :army_list_unit => @army_list_unit, :unit_option => @extra_items_option } %>
            </ul>
          </li>
          <% end %>
        </ul>
        <% else %>
        <h3><%=transliterate @army_list.army.extra_item_categories.first.name %><br /><span><%= value_points(@army_list_unit.extra_items_value_points) %></span><% unless @extra_items_option.value_points.nil? %>/<%= value_points(@extra_items_option.value_points) %><% end %> pts</h3>
        <ul>
          <%= render :partial => "army_list_units_extra_items/edit", :collection =>  ExtraItem.available_for(@army_list.army.extra_item_categories.first, @extra_items_option.value_points).all, :as => :extra_item, :locals => { :army_list_unit => @army_list_unit, :unit_option => @extra_items_option } %>
        </ul>
        <% end %>
      </div></td>
    <% end %>

    <% if @magic_standards_option %>
      <td><div id="army_list_unit_magic_standards">
        <h3>Banniere magique<br /><span><%= value_points(@army_list_unit.magic_standards_value_points) %></span><% unless @magic_standards_option.value_points.nil? %>/<%= value_points(@magic_standards_option.value_points) %><% end %> pts</h3>
        <ul>
          <%= render :partial => "army_list_units_magic_standards/edit", :collection =>  MagicStandard.available_for(@army_list.army, @magic_standards_option.value_points).all, :as => :magic_standard, :locals => { :army_list_unit => @army_list_unit, :unit_option => @magic_standards_option } %>
        </ul>
      </div></td>
    <% end %>

    </tr></table>

    <div class="clear"></div>

    <% if @army_list_unit.unit.magic? %>
      <p><%= f.text_area :magic, :placeholder => "Magie", :size => "" %></p>
    <% end %>

    <p><%= f.text_area :notes, :placeholder => "Remarques", :size => "" %></p>

    <p><%= f.submit "Valider" %></p>
  <% end %>

</div>
