<div class="small_popin">

  <h1>Editer options<br />
  <%= @army_list_unit.unit.name %></h1>

  <%= form_tag(options_update_army_list_army_list_unit_path(@army_list, @army_list_unit), :method => "post", :id => "army_list_unit_unit_options_form") do %>
    <ul>
    <% @army_list_unit.unit.unit_options.where(:parent_id => nil).each do |option| %>
      <li>
      <% if option.children.any? %>
        <%= option.name %>
        <ul>
          <% option.children.each do |child| %>
          <li><label><%= check_box_tag "army_list_unit[unit_options][]", option.id, option.in?(@army_list_unit.unit_options), "data-radio" => true, "data-depend" => option.depend.try(:id), "id" => "army_list_unit_unit_options_#{option.id}" %> <%= child.name %> <%= value_points(option.is_per_model ? child.value_points * @army_list_unit.size : child.value_points) %>pts</label></li>
          <% end %>
        </ul>
      <% elsif option.is_magic_items %>
      <label><%= option.name %> <%= value_points(option.value_points) %>pts <%= select :army_list_unit, :magic_items, grouped_options_for_select(MagicItem.for_select(@army_list.army), @army_list_unit.magic_items.map{ |mi| mi.id }), {}, { :multiple => true, :size => 10, "data-depend" => option.depend.try(:id), "id" => "army_list_unit_unit_options_#{option.id}" } %></label>
      <% else %>
      <label><%= check_box_tag "army_list_unit[unit_options][]", option.id, option.in?(@army_list_unit.unit_options), "data-depend" => option.depend.try(:id), "id" => "army_list_unit_unit_options_#{option.id}" %> <%= option.name %> <%= value_points(option.is_per_model ? option.value_points * @army_list_unit.size : option.value_points) %>pts</label>
      <% end %>
      </li>
    <% end %>
    </ul>

    <p><%= submit_tag("Valider") %></p>
  <% end %>

</div>
