<%= form_for [@army_list, @army_list_choice] do |f| %>
  <%= render "shared/form_errors", :object => @army_list_choice %>

  <% if @army_list_choice.persisted? %>
  <p><%= text_field_tag :unit_name, @army_list_choice.unit.name, :disabled => true %></p>

  <p><%= f.collection_select :unit_category_id, UnitCategory.all, :id, :name %></p>
  <% else %>
  <p><%= f.select :unit_id, grouped_options_for_select(Unit.for_select(@army_list.army), @army_list_choice.unit_id) %></p>
  <% end %>

  <p><%= f.text_field :name, :placeholder => "Nom" %></p>

  <% if @army_list_choice.unit.min_size != @army_list_choice.unit.max_size %>
  <p><%= f.number_field :size, :placeholder => "Taille" %></p>
  <% end %>

  <p><%= f.submit "Valider" %></p>
<% end %>
