<%= form_for [@army_list, @army_list_choice] do |f| %>
  <%= render "shared/form_errors", :object => @army_list_choice %>

  <p><%= f.select :unit_id, grouped_options_for_select(Unit.for_select(@army_list.army)) %></p>

  <% if @army_list_choice.persisted? %>
  <p><%= f.collection_select :unit_category_id, UnitCategory.all, :id, :name %></p>
  <% end %>

  <p><%= f.text_field :name, :placeholder => "Nom" %></p>
  <p><%= f.submit "Valider" %></p>
<% end %>
