<tr class="army_list_unit_troops">
  <td class="troop_name"><%= troop.name %></td>
  <td class="characteristic odd"><%=characteristic troop.M %></td>
  <td class="characteristic"><%=characteristic troop.WS %></td>
  <td class="characteristic odd"><%=characteristic troop.BS %></td>
  <td class="characteristic"><%=characteristic troop.S %></td>
  <td class="characteristic odd"><%=characteristic troop.T %></td>
  <td class="characteristic"><%=characteristic troop.W %></td>
  <td class="characteristic odd"><%=characteristic troop.I %></td>
  <td class="characteristic"><%=characteristic troop.A %></td>
  <td class="characteristic odd"><%=characteristic troop.LD %></td>
  <td class="troop_type"><%= troop.troop_type.try(:name) %></td>
</tr>
