<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Whbab • <%= content_for?(:title) ? yield(:title) : "Bienvenue" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

<div id="wrapper">
  <div id="header" class="container_16">
    <h1 class="grid_3 suffix_9">
      <a href="<%= root_path %>">Warhammer Battle<br />
      <em>Army Builder</em></a>
    </h1>
    <div class="grid_4 welcome">
      <% if user_signed_in? %>
      <strong>Bienvenue <%= current_user.name %> <%= image_tag "menu_arrow.png", :size => "11x9" %></strong>
      <% else %>
      <%= link_to "Se connecter", new_session_path(resource_name) %>
      <%= link_to "S'inscrire", new_registration_path(resource_name) %>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <ul class="menu" style="display:none">
      <li><%= link_to "Mes listes d'armée", army_lists_path('search[army_id_eq]' => '') %></li>
      <li><%= link_to "Préférence", edit_user_registration_path %></li>
      <li><a href="mailto:support@whbab.com">Aide</a></li>
      <li><%= link_to "Déconnexion", destroy_user_session_path %></li>
    </ul>
    <% end %>
  </div>

  <div id="content" class="container_16">
    <%= yield %>
  </div>

  <div id="footer" class="container_16"></div>
</div>

<%= render "shared/flash_messages" %>

</body>
</html>
