<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Whbab • <%= content_for?(:title) ? yield(:title) : "Bienvenue" %></title>
  <%= stylesheet_link_tag "pdf", :media => "all" %>
</head>
<body>

<div id="wrapper">
  <div id="header" class="container_16">
    <h1>
      <strong>Warhammer Battle</strong>
      Army Builder
    </h1>
    <%= image_tag "/system/armies/#{@army_list.army.id}/portrait.png", :size => "90x90" %>
    <h2><%=transliterate @army_list.army.name %> -<strong><%= value_points @army_list.value_points %></strong> points</h2>
    <h2><%=transliterate @army_list.name.truncate(50) %></h2>
  </div>

  <div id="content" class="container_16">
    <%= yield %>
  </div>

  <div id="footer" class="container_16">
    <div class="user_name"><%=transliterate @army_list.user.name %></div>
    <div class="site"><%= link_to "whbab.com", @army_list %></div>
    <div class="today"><%= @army_list.updated_at.strftime "%d/%m/%Y" %></div>
  </div>
</div>

</body>
</html>
