<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Whbab • <%= content_for?(:title) ? yield(:title) : "Bienvenue" %></title>
  <%= stylesheet_link_tag "pdf", :media => "all" %>
</head>
<body>

<div id="wrapper">
  <div id="header" class="container_16">
    <h1>
      <strong>Warhammer Battle</strong>
      Army Builder
    </h1>
    <%= image_tag "/system/armies/#{@army_list.army.id}/portrait.png", :size => "90x90" %>
    <h2><strong><%= value_points @army_list.value_points %></strong> points</h2>
    <h2><%= @army_list.army.name %> : <%= @army_list.name %></h2>
  </div>

  <div id="content" class="container_16">
    <%= yield %>
  </div>

  <div id="footer" class="container_16"></div>
</div>

</body>
</html>
