<h2>Mon compte</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :validate => true) do |f| %>
  <p><%= f.email_field :email, :placeholder => "Adresse email", :validate => true %></p>

  <p><%= f.text_field :name, :placeholder => "Nom ou pseudo" %></p>

  <p><%= f.label :favorite_army_id, "Armée favorite" %><br />
  <%= f.collection_select :favorite_army_id, Army.all, :id, :name, :include_blank => true %></p>

  <p><i>Laissez vide si vous ne désirez pas changer de mot de passe</i><br />
  <%= f.password_field :password, :placeholder => "Mot de passe", :validate => true %></p>

  <p><%= f.password_field :password_confirmation, :placeholder => "Confirmation du mot de passe", :validate => true %></p>

  <p><%= f.submit "Valider" %></p>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Vous n'êtes pas satisfait ? <a href="mailto:support@whbab.com">Écrivez nous</a> ou <%= link_to "supprimer votre compte", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %> directement.</p>

<%= link_to "Page précédente", :back %>
