<% title "S'inscrire" -%>

<h2>S'inscrire</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
  <p><%= f.text_field :name, :placeholder => "Nom ou pseudo", :validate => true %></p>

  <p><%= f.email_field :email, :placeholder => "Adresse email", :validate => true %></p>

  <p><%= f.password_field :password, :placeholder => "Mot de passe", :validate => true %></p>

  <p><%= f.password_field :password_confirmation, :placeholder => "Confirmation du mot de passe", :validate => true %></p>

  <p><%= f.collection_select :favorite_army_id, Army.all, :id, :name, :include_blank => "--Armée favorite--" %></p>

  <p><%= f.submit "Valider" %></p>
<% end %>

<%= link_to "J'ai perdu mon mot de passe !", new_password_path(resource_name) %><br />
<%= link_to "Je n'ai pas reçu d'email de confirmation", new_confirmation_path(resource_name) %><br />
Pour toutes questions n'hésitez pas à consulter l'<a href="mailto:support@whbab.com">aide en ligne</a>
